do new training - from traning through predictions to figures :all in all, and then make improvments

EDA:
- explore the data in each, it seems like d2 has different geoid reference for the geights d2,d3
- @automatic geoid correction - how?

In [3]:
from glob import glob 
import os 
import pandas as pd 
from uvars import parq_outdir

In [4]:
path = parq_outdir

In [11]:
path_rng = f"{path}/rng"
path_tls = f"{path}/tls"
path_mkd = f"{path}/mkd"
files_rng = glob(f'{path_rng}/*parquet'); print(len(files_rng))
files_tls = glob(f'{path_tls}/*parquet'); print(len(files_tls))
files_mkd = glob(f'{path_mkd}/*parquet'); print(len(files_mkd))

1606
14
2351

In [14]:
d1 = pd.read_parquet(files_rng[0])
d2 = pd.read_parquet(files_tls[0])
d3 = pd.read_parquet(files_mkd[0])

In [16]:
d1.head(5) # rionegro

,multi_dtm_lidar,edem_w84,cdem_dem,edem_egm,multi_s1x_band1,multi_s1x_band2,multi_s2_band1,multi_s2_band2,multi_s2_band3
0,36.601944,50.406551,56.227325,56.231049,0.544298,0.528621,0.047329,0.078444,0.092293
1,36.681484,50.595562,56.561115,56.420296,0.560037,0.543925,0.047062,0.077055,0.092179
2,36.719639,50.866528,56.894905,56.691502,0.563560,0.545512,0.046618,0.077205,0.091852
3,36.849724,51.137493,57.234352,56.962704,0.566512,0.546459,0.046166,0.077428,0.091514
4,36.980663,51.679592,57.579456,57.505196,0.572897,0.545731,0.045751,0.076990,0.091133

In [17]:
# this seems to be orthometric heights, as there's greater difference between this, and the cdem and edemo data
# do conversion using egm08 and grid extracted, and see the difference 
# make the plots, and then add discussion to the paper 
# not knowing the egm, we can infer that the data can be either E or H. also H comes in different tastes, so we can either leave or correct to egm08 by differencing++

In [20]:
d2.head() # this lidar seems to be orthometric becuase edem_w84 lower than lidar, and the others a bit higher as expected to see in lower areas like mekong

,multi_dtm_lidar,edem_w84,cdem_dem,edem_egm,multi_s1x_band1,multi_s1x_band2,multi_s2_band1,multi_s2_band2,multi_s2_band3
0,29.248213,10.099585,30.756754,30.789682,0.291696,0.325726,0.132006,0.120417,0.119890
1,29.123013,11.468061,32.226772,32.162262,0.347582,0.385827,0.118762,0.112363,0.116426
2,29.080908,11.529429,31.819651,32.223255,0.345819,0.386396,0.113741,0.108531,0.113532
3,29.074766,11.297813,31.412529,31.990904,0.332290,0.370706,0.119183,0.110287,0.114537
4,29.100029,11.048259,31.258492,31.740595,0.318761,0.355016,0.124625,0.112044,0.115542

In [21]:
d3.head()

,multi_dtm_lidar,edem_w84,cdem_dem,edem_egm,multi_s1x_band1,multi_s1x_band2,multi_s2_band1,multi_s2_band2,multi_s2_band3
0,0.076340,-0.070413,0.0,8.541615,0.081633,0.096882,0.099683,0.117876,0.127815
1,0.076999,-1.166148,0.0,7.445226,0.079807,0.103651,0.096351,0.116226,0.127280
2,0.077737,-2.261883,0.0,6.348837,0.083203,0.114323,0.093231,0.114643,0.126582
3,0.078648,-2.935314,0.0,5.674933,0.130845,0.158070,0.091912,0.113635,0.124503
4,0.079386,-3.273816,0.0,5.336103,0.178488,0.201816,0.090592,0.112627,0.122425

In [22]:
# find where this is true the coordinates for this, wich means we have to find a way to read x,y that can be used for coordinates 
# we need to go back to where we were creating the tiles core data 

# use the first tif to extract the X,Y, and the join it with the others latter

In [24]:
## for now let use egmo , and do the same for vfilling, or just use the grids to make the changes

In [25]:
outdir = "/home/ljp238/Documents/UoE/libe_tabml/outnew"

In [26]:
from zdev import train_and_save_model

In [28]:
d1

,multi_dtm_lidar,edem_w84,cdem_dem,edem_egm,multi_s1x_band1,multi_s1x_band2,multi_s2_band1,multi_s2_band2,multi_s2_band3
0,36.601944,50.406551,56.227325,56.231049,0.544298,0.528621,0.047329,0.078444,0.092293
1,36.681484,50.595562,56.561115,56.420296,0.560037,0.543925,0.047062,0.077055,0.092179
2,36.719639,50.866528,56.894905,56.691502,0.563560,0.545512,0.046618,0.077205,0.091852
3,36.849724,51.137493,57.234352,56.962704,0.566512,0.546459,0.046166,0.077428,0.091514
4,36.980663,51.679592,57.579456,57.505196,0.572897,0.545731,0.045751,0.076990,0.091133
...,...,...,...,...,...,...,...,...,...
99995,32.370399,43.811474,51.422234,51.524601,0.553729,0.534143,0.050686,0.077550,0.090828
99996,32.432278,44.092541,51.807621,51.805801,0.552064,0.532066,0.051079,0.078321,0.092151
99997,32.399231,44.073494,51.784348,51.786888,0.545595,0.524799,0.050586,0.078662,0.093494
99998,31.910898,44.054443,51.761070,51.767979,0.540811,0.519837,0.050181,0.078989,0.094631
99999,31.792858,44.031593,51.616047,51.745262,0.546618,0.529365,0.050334,0.079221,0.094473

In [29]:
d1.columns

Index(['multi_dtm_lidar', 'edem_w84', 'cdem_dem', 'edem_egm',
       'multi_s1x_band1', 'multi_s1x_band2', 'multi_s2_band1',
       'multi_s2_band2', 'multi_s2_band3'],
      dtype='object')

In [ ]:
fcol = ['edem_egm','multi_s1x_band1', 'multi_s1x_band2', 'multi_s2_band1','multi_s2_band2', 'multi_s2_band3']
tcol = 'multi_dtm_lidar'
outdir = "/home/ljp238/Documents/UoE/libe_tabml/outnew"
# use the fimp, and history and plot them too in the folder with the best params and log with wandb

In [32]:
#train_and_save_model(d1,tcol,fcol,outdir,'try1')

In [3]:
from sklearn.model_selection import train_test_split
from zdev import train_and_save_model
from glob import glob
import os 
from uvars import parq_outdir

In [ ]:
path = f"{parq_outdir}/*/"
files = glob(f'{path}/*parquet');print(len(files))

#train_files, test_files = train_test_split(files, random_state=42,test_size=0.1)
train_files, valid_files = train_test_split(files, random_state=42,test_size=0.2)
print(f'files train {len(train_files)} valid={len(valid_files)} test{len("test_files")}')

# correct the function so it runs with eval_set, and final testing in done in testfiles 

#train = pd.read_parquet(train_files)
#valid = pd.read_parquet(valid_files)
#test = pd.read_parquet(test_files)
fcol = ['edem_egm','multi_s1x_band1', 'multi_s1x_band2', 'multi_s2_band1','multi_s2_band2', 'multi_s2_band3']
tcol = 'multi_dtm_lidar'
outdir = "/home/ljp238/Documents/UoE/libe_tabml/outmodel"
# use the fimp, and history and plot them too in the folder with the best params and log with wandb

3971
files train 3176 valid=795 test10

In [ ]:
train_and_save_model(train_files=train_files, 
                     valid_files=valid_files, 
                     target_col=tcol, 
                     feature_cols=fcol, 
                     output_dir=outdir, 
                     model_name='testinga', 
                     num_rounds=10000, 
                     seed=42)

files train 1300 valid=145 test161

In [41]:
train = pd.read_parquet(train_files)
valid = pd.read_parquet(valid_files)
test = pd.read_parquet(test_files)